{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
		LoLorem Ipsum is not simply random text. But
		who cares....sesky su the shit.
{% endblock %}
